<!DOCTYPE html>
  <head>
    <title>Shibui Panel - 500</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/realistik.css">
  </head>

  <body>
    <div id="app">
      <section class="section">
        <div class="container mt-5">
          <div class="page-error">
            <div class="page-inner">
              <h1>500</h1>
              <div class="page-description">
                Ah... it broke. Sorry about that - or, maybe you shouldn't be here?
              </div>
            </div>
          </div>
          <div class="simple-footer mt-5">
            Shibui Panel
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
