{% extends "base.html" %}

{% block content %}
<h2 class="section-title">Dashboard</h2>
<p class="section-lead">This is the main Dashboard for Shibui's Panel. Here you can see the status of your server and recent plays.</p>
<p></p>
<div class="card">
    <div class="card-header">
        <h4>Shibui Panel</h4>
    </div>
    <div class="card-body">
        This is the Shibui Panel. This is the admin-only secrety secret admin only panel! This lets you do a lot of <b>dangerous and scary</b> things so be warned!
    </div>
    <div class="card-footer">
        Shibui Panel
    </div>
</div>
<div class="section-title">Recent Plays</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Player</th>
            <th scope="col">Song</th>
            <th scope="col">Score</th>
            <th scope="col">PP</th>
        </tr>
    </thead>
    <tbody>
        {% for play in plays %}
        <tr>
            <td>{{ play["Time"] }}</td>
            <td><a href="{{ config['ServerURL'] }}u/{{ play['PlayerId'] }}" target="_blank">{{ play["Player"] }}</a></td>
            <td>{{ play["SongName"] }}</td>
            <td>{{ play["Score"] }}</td>
            <td>{{ play["pp"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
